.ca-main {
  margin: 5rem auto;
}

.ca-img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 300px;
  padding: 2px;
  border: 1px solid black;
  background-color: black;
  box-shadow: 0px 0px 5px black;
}

.ca-aboutme {
  background-color: var(--p-color-5);
  box-shadow: -5px 7px 2px;
}

.ca-skills {
  background-color: var(--p-color-5);
  box-shadow: -5px 7px 2px;
}

.ca-row-header {
  background-color: var(--p-color-4);
  height: 40px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 40px solid var(--p-color-4);
  border-left: 40px solid transparent;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 40px solid var(--p-color-4);
  border-right: 40px solid transparent;
}

.ca-skill-slider-item {
  display: block;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 0px 20px;
}

.ca-skill-slider > li > p {
  color: white;
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
    width: 150px;
    height: 150px;
  }
}

@keyframes hide {
}
