/* Paletton: https://paletton.com/#uid=13l0u0kllllaFw0g0qFqFg0w0aF */

:root {
  --p-color-1: #2d7781;
  --p-color-2: #78b2ba;
  --p-color-3: #488c96;
  --p-color-4: #19646f;
  --p-color-5: #094e58;
  --p-color-6: #063036;
}
